server:
  port: 8086

spring:
  application:
    name: chat-service
  data:
    mongodb:
      uri: mongodb://mongodb:27017/revhub_chat
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
